:root {
  --main-font--: 'Roboto', sans-serif;
  --font-logo--: 'Raleway';
  --background-cl-black--: #2F303A;
  --white-cl--: #FFF;
  --black-cl--: #212121;
  --blue-cl--: #2196F3;
  --silver-cl--: #757575;
  --color-icons--: #AFB1B8;
}

body {
  background-color: var(--white-cl--);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */
.header {
  border-bottom: 1px solid #ECECEC;
  ;
}

.header-container {
  display: flex;

}

.navgition {
  display: flex;
}

.logo-link {
  color: var(--blue-cl--);
  font-family: var(--font-logo--);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-span {
  color: #000;
  font-family: var(--font-logo--);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

}

.item-navigation:not(:last-child) {
  margin-right: 50px;
}

.list-item {
  display: flex;
  align-items: center;
}

.link.activate {
  color: var(--blue-cl--);
  margin: 0;
}

.link {
  color: var(--black-cl--);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link:hover,
.link:focus {
  color: var(--blue-cl--);
}

/*  Header-contacts */
.list-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link-contacts {
  display: flex;
  align-items: center;
}

.header-icons {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
  fill: currentColor;
}

.item-navigation-team {
  margin-right: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.item-navigation-team:last-child {
  margin-right: 0;
}

/* Header-contacts */

.item-navigation-contacts {
  margin-left: 40px;
}

.item-navigation-contacts:first-child {
  margin-left: 0;
}

.link-contacts {
  color: var(--silver-cl--);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--blue-cl--);
}


/* Section-hero */

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(47, 48, 58, 0.40);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/Img\ Overlay.png), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--white-cl--);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  background: var(--blue-cl--);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-cl--);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  color: var(--white-cl--);
  background: #188CE8;
  cursor: pointer;
}

.btn:focus {
  color: var(--white-cl--);
}


/* Section-features */
.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F5F4FA;
  margin-bottom: 30px;

}

.section.features {
  padding-bottom: 0;
}

.list-features {
  display: flex;
}

.features-group {
  margin-right: 30px;
}

.features-group:last-child {
  margin-right: 0;
}


.uppertitle {
  color: var(--black-cl--);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.subtitle {
  color: var(--silver-cl--);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 270px;
}

/* Section-gallery */

.list-gallery {
  display: flex;
}

.gallery-card {
  display: block;
}

.gallery-group {
  margin-right: 30px;
}

.gallery-group:last-child {
  margin-right: 0;
}

/* Section-team */

.container .list-team {
  display: flex;
}

.team {
  background: #F5F4FA;
}

.title {
  color: var(--black-cl--);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-img {
  display: block;
}

.item-navigation-team {
  background-color: #fff;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.uppertitle-team {
  border-radius: 0px 0px 4px 4px;
  color: var(--black-cl--);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.subtitle-team {
  border-radius: 0px 0px 4px 4px;
  color: var(--silver-cl--);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 10px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item {
  display: flex;
  gap: 10px;
}


.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--blue-cl--);
}

.socials-link:hover svg {
  fill: var(--white-cl--);
}

.socials-icons {
  fill: var(--color-icons--);
}

/* Section-clients */
.clients-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;

}

.cliens-icons {
  fill: var(--color-icons--);
}

.clients-link:hover,
.cliens-link:focus {
  border: 1px solid #2196F3;
}

.clients-link:hover svg {
  fill: var(--blue-cl--);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

/* Footer */
.container.footer-socials {
  display: flex;
  align-items: center;
  align-items: baseline;
}

.footer {
  display: flex;
  background: var(--background-cl-black--);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-list {
  display: flex;
}

.logo-link-footer {
  color: var(--blue-cl--);
  font-family: var(--font-logo--);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo-footer-span {
  color: var(--white-cl--);
  font-family: var(--font-logo--);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.address {
  color: var(--white-cl--);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
}

.address {
  margin-top: 28px;

}

.link-footer {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-decoration: none;
}

.link-footer:hover,
:focus {
  color: var(--blue-cl--);
}

.list {
  margin-top: 12px;
}

.address-item-navigation:first-child {
  margin-bottom: 12px;
}

/* Footer socials icons */
.footer-container-icons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-socials-icons {
  display: flex;
}

.footer-icons-list {
  display: flex;
  gap: 10px;
}

.footer-icons-item {
  display: flex;
}

.footer-link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF1A;
}

.footer-link-icons:hover,
.footer-link-icons:focus {
  background-color: var(--blue-cl--);
}

.footer-icons {
  fill: var(--white-cl--);
}


.uppertitle-socials {
  display: flex;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/*Portofolio html*/


/* Section-portfolio */
.container .list-filters {
  display: flex;
  justify-content: center;
}

.list-filters {
  margin-bottom: 50px;
}

.item-portfolio:hover,
.item-portfolio:focus {

  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.container .list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.btn-filters {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  background: #F5F4FA;
  color: var(--black-cl--);
  text-align: center;
  font-family: var(--main-font--);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  /* 162.5% */
  letter-spacing: 0.48px;
  border: none;
}

.title-btn {
  margin-right: 8px;

}

.title-btn:last-child {
  margin-right: 0;

}

.btn-filters:hover {
  border-radius: 4px;
  background: var(--blue-cl--);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  color: var(--white-cl--);
  cursor: pointer;
}

.btn-filters:focus {
  background: var(--blue-cl--);
  color: var(--white-cl--);
}

.item-pf {
  padding: 20px 24px;
  border: 1px solid #EEE;
  border-width: 0 1px 1px 1px;

}

.img-portfolio {
  display: block;
}

.uppertitle-portfolio {
  color: var(--black-cl--);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  /* 200% */
  letter-spacing: 1.08px;

}

.subtitle-portfolio {
  color: var(--silver-cl--);
  font-size: 16px;
  line-height: 1.9;
  /* 187.5% */
  letter-spacing: 0.48px;
  margin-top: 4px;
}